div.MuiAutocomplete-root div.MuiOutlinedInput-root { 
    border-radius: 40px;
    background-color: white;
}

div.MuiAutocomplete-root div.MuiOutlinedInput-root.Mui-focused { 
    border-radius: 20px 20px 0 0 !important;
}

div.MuiAutocomplete-root div.Mui-focused fieldset { 
    border-width: 1px !important;
}

div.MuiAutocomplete-popper div { 
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

div.MuiAutocomplete-root div.MuiAutocomplete-inputRoot div.MuiAutocomplete-input:first-child {
    outline: none;
}

#stock-search {
    width: 700px;
    margin: 0 auto;  
    vertical-align: middle;                                   
  }

  .MuiOutlinedInput-root {
    align-items: center;
    border-radius: 4px !important;
  }

.MuiInputLabel-root.Mui-focused {
    color: #000;
    transform: none;
  }
  
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #000;
    border: none !important;
  }
  
  .MuiInputLabel-root.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75); 
  }
  
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, 1.5px) scale(0.75); 
  }
  