div.MuiAutocomplete-root div.MuiOutlinedInput-root { /* Search bar when not in focus */
    border-radius: 40px;
    background-color: white;
}

div.MuiAutocomplete-root div.MuiOutlinedInput-root.Mui-focused { /* Search bar when focused */
    border-radius: 20px 20px 0 0 !important;
}

div.MuiAutocomplete-root div.Mui-focused fieldset { /* fieldset element is what controls the border color. Leaving only the bottom border when dropdown is visible */
    border-width: 1px !important;
}

div.MuiAutocomplete-popper div { /* To get rid of the rounding applied by Mui-paper on the dropdown */
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/* Remove blue outline on focus */
div.MuiAutocomplete-root div.MuiAutocomplete-inputRoot div.MuiAutocomplete-input:first-child {
    outline: none;
}