* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 0 20px;
  width: 100%;
}

.header, .title-and-search{
  display: flex;
  align-items: center;
}

.header h1{
  margin: 0;
  margin-right: -250px;
}

.header, .search-container{
  white-space: nowrap;
}

.search-bar{
  display: flex;
  align-items: center;
}

.search-bar input[type="text"]{
  margin-right: 10px;
  padding: 5px 10px;
  height: auto;
  border: 1px solid orange;
  border-radius: 20px;
  color : orange;
}

.search-bar button{
  font-size: 15px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  padding: 5px 10px;

}

.news-item a{
  text-decoration: none;
  color: black;
}

.news-item a:hover{
  text-decoration: underline;
}

.TopCompanies {
  margin-left: 1000px;
}

.large-news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0; /* Adjusted from -150px */
}

.small-news {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 0; /* Adjusted from -90px */
  margin-right: 0; /* Adjusted from -100px */
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.stock-details {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: scrollRightToLeft 20s linear infinite;
  display: inline-block;
  margin-right: 50px;
}

.stock-chart-container::-webkit-scrollbar {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

