.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}

h1{
  color: rgb(247,105,0);
}

.logo-container {
  padding-right: 5px; 
}

#logo {
  height: 90px;
  width: auto; 
}

.search-bar {
  display: inline; 
  color: rgb(247,105,0);
  text-emphasis-color:rgb(247,105,0) ;
}

#searchInput::-webkit-input-placeholder { 
  color: rgb(247,105,0);
}

#searchInput {
  border-radius: 15px;
  color: rgb(247,105,0);
  border: 1px solid #ccc;
  padding: 5px;

}

#searchButton {
  padding: 0.5em 1em;
  padding-right: 10;
  color: rgb(247,105,0);
  border-radius: 15px;
  cursor: pointer;
}



#searchButton:hover {
  background-color: lightblue;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.stock-chart, .news-summary {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.main-content {
  display: flex;
}

/* .left-content {
  flex-grow: 0;
} */

.top-companies {
  width: 300px; 
  border-left: 1px solid #ccc; 
  padding-left: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.stock-chart-container {
  width: 100vw;
  overflow: hidden;
  
}

.stock-chart-container-moving{
  display: flex;
  align-items: center;
  width: 220%;
  box-sizing: border-box;
  padding: 1em;
  gap: 10px;
  /* border-bottom: 2px solid #ccc; */
  animation: scrollRightToLeft 20s linear infinite;

}
.stock-details {
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  border-right: 2px dotted #ccc;
}

.stock-details:last-child {
  border-right: none; 
}

.stock-name {
  margin-right: 10px;
  color: black;
  cursor: pointer;
}

.stock-name:hover {
  color: blue;
}

.stock-high,
.stock-low {
  margin-right: 10px;
}

button {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e2e2e2;
}

.top-companies-container {
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 400px; 
  max-height: 70vh;
  overflow-y: scroll ;
}

.top-companies-container h2{
  margin-bottom: 5px;
}
.company-ticker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dotted #ccc;
}

.ticker-name {
  font-weight: bold;
  cursor: pointer;
}

.ticker-name:hover {
  color: blue;
}

.ticker-chart {
  width: 100px;
  height: 50px;
  background: lightgreen;
  margin: 0 10px;
}

.ticker-values {
  text-align: right;
}

.ticker-high {
  color: green;
}

.ticker-low {
  color: red; 
}

.large-news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0 !important;
  width: 50vw;
}
.small-news {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 5px;
}

.news-item h3 {
  font-size: 12px; 
  margin: 0; 
  padding: 0 5px; 
}

.news-item p {
  font-size: 12px; 
  padding: 0 5px; 
}

.news-item {
  width: 100%;

}