.homepage-container {
    display: flex;
    justify-content: center;
}

.content {
    width: 1200px;
    min-height: calc(100vh - 100px); /* Height of the navBar */
}

.news-container {
    padding-top: 50px;
    display: flex;
}

.articles-section {
    display: flex;
    max-width: 75%;
    border-right: 1px solid black;
    flex-wrap: wrap;
    width: 890px;
}

.quick-infos-section {
    max-width: 25%;
    margin-left: 30px;
}
