.top-companies-container {
    background-color: #f8f8f8;
    border-radius: 6px;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 275px;
    /*overflow-y: scroll ;*/
}

.top-companies-header {
    text-align: center;
    font-family: "Times New Roman", serif;
    padding: 0 10px 5px 10px;
    font-size: 25px;
}